form {
    padding: 10px;
}
textarea {
    resize: none;
}
ul {
    list-style-type: none;
}
.max-width {
    max-width: 100%;
}
.btn-margin {
    margin: 15px auto;
}
.task {
    background-color: rgba(0, 0, 0, 0.1);
}
.done-true {
    text-decoration: line-through;
    color: rgb(180, 180, 180);
}