<!DOCTYPE html>
<html data-ng-app="app">
    
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Todos - todolist app</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap datepicker-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <!-- styles -->
    <link rel="stylesheet" href="css/main.css">
    
</head>

<body data-ng-controller="appCtrl">
    
    <header>
        <div class="row max-width">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="page-header">
                    <h3>Todos - todo list application</h3>
                </div>
            </div>
        </div>
    </header>
    
    <section id="addTask">
        <div class="text-center well col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 addTask-container">
            Add new todo
            <form data-ng-submit="addTask()" name="form">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-10 col-xs-offset-1">
                        <label class="control-label" for="text">Todo</label>
                        <textarea class="tasktext form-control" rows="3" data-ng-model="newTask.text" required></textarea>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-10 col-xs-offset-1">
                        <label class="control-label" for="date">Date</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" data-ng-model="newTask.date" placeholder="Pick a date" id="date" required/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-10 col-xs-offset-1">
                        <button class="btn btn-success btn-margin">Add <span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
            </form> 
        </div>
    </section> <!--#addTask-->
    
    <section id="taskPanel">
        <div class="text-center well well-sm col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <h3><span class="label label-default">Tasks to do</span></h3>
            <div class="row max-width">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-danger btn-margin" data-ng-click="cleanDone()">Clean done</button>
                </div>
                <div class="well well-sm col-md-6 col-sm-6 col-xs-6 todos-left">
                    <span class="span-left left-{{left()}}">{{left()}} left of {{tasks.length}} todos</span>
                </div>
            </div>
            <ul>
                <div class="row max-width">
                    <li data-ng-repeat="task in tasks | orderBy: 'date'">
                        <div class="well well-sm col-md-5 col-sm-5 col-xs-11 text-left task">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-ng-model="task.done" title="Completed">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    <span class="text-muted done-{{task.done}}">{{task.date | date}}</span>
                                    <p class="done-{{task.done}}">{{task.text}}</p>
                                </label>
                            </div>                           
                        </div>    
                    </li>
                </div>
            </ul>
        </div>
    </section> <!--#taskPanel-->
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/app.js"></script>
</body>

</html>